<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sumgram | Feed</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">Sumgram</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'createpage' %}">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          {% if request.user.is_authenticated %}
          <div style="background-color: beige; border: 10px">
            <h6 align="center" style="padding-top: 10px; padding-left: 10px; padding-right: 10px; color: blue">Hello @{{ request.user.username }}</h6>
          </div>
          <li>
            <a href="{% url 'logoutpage' %}" style="padding-left: 10px;">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
            </a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'loginpage' %}" style="padding-right: 10px;">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </a>
          </li>

          <li>
            <a href="{% url 'registerpage' %}">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Register</button>
            </a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" role="search" method="POST"> {% csrf_token %}
          <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <h1 align="center" style="padding-top: 10px;">Welcome to Sumgram!</h1>
  {% for i in messages %}
    <div class="container col-lg-6">
      <div class="alert alert-{{ i.tags }}">
        {{ i }}
      </div>
    </div>
    {% endfor %}
    
  <div class="container ">
    <div class="row">
      {% for i in all %}

      <div class="p-2 col-lg-3">

        <div class="card ">

          <div class="card-header">
            <strong>Posted by <a href="#">@{{ i.user_obj.username }}</a></strong>
          </div>
          <a href="{% url 'displaypage' i.id %}" style="text-decoration: none; color: black">
            <div class="card-body">
              <img src="{{ i.pic.url }}" alt="image" style="max-width: 100%; height: auto; border-radius: 12px">
            </div>
            <div class="card-footer">
              <h5>{{ i.caption }}</h5>
              Posted on {{ i.date }}
            </div>
          </a>
        </div>

      </div>
      {% endfor %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
</body>

</html>