<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">Sumgram</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'createpage' %}">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          {% if request.user.is_authenticated %}
          <div style="background-color: beige; border: 10px">
            <h6 align="center" style="padding-top: 10px; padding-left: 10px; padding-right: 10px; color: blue">Hello @{{ request.user.username }}</h6>
          </div>
          <li>
            <a href="{% url 'logoutpage' %}" style="padding-left: 10px;">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
            </a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'loginpage' %}" style="padding-right: 10px;">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </a>
          </li>

          <li>
            <a href="{% url 'registerpage' %}">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Register</button>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>